/* Variables */
    :root {
        --color-fondo: #1C1C1C;
        --color-primario: #D4AF37;
        --color-secundario: #8C7851;
        --color-texto: #F5F5F5;
    }
/* Fuentes */
    @font-face {
        font-family: 'light';
        src: url('../librerias/fuentes/Space_Grotesk/static/SpaceGrotesk-Light.ttf');
        font-weight: 100;
        font-style: normal;
    }
    @font-face {
        font-family: 'regular';
        src: url('../librerias/fuentes/Space_Grotesk/static/SpaceGrotesk-Regular.ttf');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'bold';
        src: url('../librerias/fuentes/Space_Grotesk/static/SpaceGrotesk-Bold.ttf');
        font-weight: 400;
        font-style: normal;
    }
    .fuente-light {
        font-family: "light", serif !important;
    }
    .fuente-regular {
        font-family: "regular", serif !important;
    }
    .fuente-bold {
        font-family: "bold", serif !important;
    }
/* Colores */
    .fondo-fondo {
        background: var(--color-fondo);
    }
    .fondo-primario {
        background: var(--color-primario);
    }
    .fondo-secundario {
        background: var(--color-secundario);
    }
    .fondo-texto {
        background: var(--color-texto);
    }
    .color-fondo {
        color: var(--color-fondo);
    }
    .color-primario {
        color: var(--color-primario);
    }
    .color-secundario {
        color: var(--color-secundario);
    }
    .color-texto {
        color: var(--color-texto);
    }
    .no-background {
        background: none !important;
    }
/* Genéricos */

/* Botones */
    .btn-nav {
        border-color: var(--color-secundario) !important;
        cursor: pointer !important;
    }
        .btn-nav.active {
            background: var(--color-primario) !important;
            color: var(--color-texto) !important;
        }
/* Animaciones */
    .rebote {
        animation-name: rebote;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
        @keyframes rebote {
            50% {
                transform: scale(2);
            }
            100% {
                opacity: 1;
            }
        }
    .desvanecer {
        animation-name: desvanecer;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
        @keyframes desvanecer {
            100% {
                opacity: 0;
            }
        }
    .aparecer {
        animation-name: aparecer;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
        @keyframes aparecer {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
body {
    background-color: var(--color-fondo) !important;
    color: var(--color-texto) !important;
    font-family: "regular", serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
    #wrapper_fullscreen {
        bottom: 0;
        height: fit-content;
        left: 0;
        margin: auto;
        right: 0;
        top: 0;
        position: absolute;
        text-align: center;
    }
        #titulo_saludo {
            margin: auto;
            text-align: center;
            width: fit-content;
        }
    #wrapper_foto {
        background: var(--color-primario);
        border-radius: 50%;
        height: 250px;
        margin: auto;
        opacity: 0;
        width: 250px;
        transform: translateY(-50px);

        animation-name: parpadeo_sombra;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
        @keyframes parpadeo_sombra {
            50% {
                box-shadow: 0px 0px 100px var(--color-primario);
            }
        }
    #wrapper_contenido {
        opacity: 0;
    }
        #wrapper_contenido .container {
            border-radius: 10px;
            margin-top: 40px;
        }